html {
    scroll-behavior: smooth;
}
/* PALETA DE COLORES */
:root {
    --m2-claro: #F5EFFF;       /* Fondos de secciones */
    --m1-soft-fondo:#E5D9F2 ;  /* El fondo general de la página */
    --morado-oscuro: #231942;   /* Letras, títulos */
    --morado-brillante: #8C7BE3;
    --blanco: #ffffff;          
    --m3:#CDC1FF ;
    --m4:#3A2870   /*Header y pie de pagina*/


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    background-color: var(--m1-soft-fondo); 
    color: var(--morado-oscuro);            
    line-height: 1.5;
}

/*CLASES DEL HEADER */
.header-inicio {
    background-color: var(--m4);
    padding: 15px 0;
    box-shadow: 0 2px 5px; /* Sombra */
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-inverso {
    width: 160px; /* Tamaño del logo */
    height: auto;
}

.lista-navegacion {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    
}

/*  CLASES DE BOTONES Y ENLACES */
.lista-navegacion a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    font-family: Trebuchet MS , sans-serif;
    font-size: 17px;

}

.btn-adoptar, .btn-info {
    padding: 8px 15px;
}

.btn-adoptar:hover, .btn-info:hover {
    color: var(--morado-brillante); 
}

.btn-ayudar {
    background-color: var(--morado-brillante);
    color: var(--blanco) !important; 
    padding: 10px 25px;
    border-radius: 50px;
    
}



/* SECCIÓN BIENVENIDA */
.seccion-bienvenida {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/067/242/320/small/a-group-of-dogs-and-cats-sitting-together-photo.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: var(--m2-claro); 
    padding-top: 10px;      
    padding-bottom: 250px;
    text-align: center;

}

.titulo-home {
    font-size: 3rem;
    color: var(--morado-oscuro);
    margin-bottom: 0;
    margin-top: 0 ;
}

.subtitulo-home {
    font-size: 1.2rem;
    color: var(--morado-oscuro);
    max-width: 600px;
    margin: 0 auto 40px;
}

/* ESTILOS PARA QUIÉNES SOMOS */
.seccion-info {
    padding: 60px 20px;
    background-color: var(--blanco); 
    text-align: center;
}

.contenedor-texto {
    max-width: 600px;
    margin: 0 auto; /* Centra el bloque de texto */

}
 
.gatitos {

    max-width: 100%;
    height: auto;
    width: 210px;    
    border-radius: 50px;
    display: block;
    margin: 40px auto;


} 



/* ESTILOS PARA HISTORIAS (GRID) */
.seccion-historias {
    padding: 60px 20px;
}

.grupo-historias {
    display: grid;
    /* Esto crea 2 columnas iguales. En celular se verá una sola automáticamente */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
}

.tarjeta-historia {
    background-color: var(--m2-claro);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
.max_perro {

    max-width: 100%; /* La imagen se encoge si el espacio es pequeño */
    height: auto;    /* Mantiene la forma original */
    width: 350px;    
    border-radius: 15px;
    display: block;
    margin: 20px auto;
}
.luna_gata{
    width: 400px;
    height: auto;
    border-radius: 15px;
    margin-top: 34px;
    /* Centrado automatico */
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    

}

/*  ESTILOS PARA VOLUNTARIOS */
.seccion-voluntarios {
    padding: 60px 20px;
    background-color: var(--m2-claro);
    text-align: left;

}

/* para que el título de voluntarios respete la izquierda */
.seccion-voluntarios .titulo-home {
    text-align: left;
    margin-left: 0;
}

/*ESTILO DEL CORREO*/
.enlace-correo {
    color: var(--morado-brillante); 
    text-decoration: none;         /* Le quita el subrayado feo */
    font-weight: bold;             
}

.enlace-correo:hover {
    text-decoration: underline;    /* Solo se subraya cuando pasas el mouse */
    color: var(--m4);              /* Cambia a un morado más oscuro al tocarlo */
}

/* FOOTER (Pie de página */
.footer-final {
    background-color: var(--m4);
    color: var(--blanco);
    padding: 40px 20px;
    text-align: left;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}


/*  DISEÑO RESPONSIVO *//* --- MEDIA QUERIES --- */

/* Ajustes para Tablets y Celulares grandes (1024px o menos/ antes 768px) */
@media (max-width: 1024px) {
    
    /* El menú pasa de estar de lado a estar uno debajo del otro */
    .contenedor-nav {
        display: flex !important;
        flex-direction: column !important;
        gap: 15px;
        text-align: center;
    }

    .lista-navegacion {
        display: flex !important;
        flex-direction: column !important; /* Enlaces en vertical */

        gap: 10px;
        padding: 0;
    }

    .titulo-home {
        font-size: 2.2rem;
    }

    /* El footer mejor en vertical */
    .footer-final {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

/* Ajustes para Celulares pequeños (480px o menos) */
@media (max-width: 480px) {
    
    .titulo-home {
        font-size: 1.8rem;
    }

    .subtitulo-home {
        font-size: 1rem;
    }

    /* Reducimos el espacio de la bienvenida*/
    .seccion-bienvenida {
        padding-bottom: 150px; 
    }

    /* Ajustamos las secciones */
    .seccion-info, .seccion-historias, .seccion-voluntarios {
        padding: 40px 15px;
    }


    .max_perro, .luna_gata {
        width: 100%;
    }
} 